@import "bootstrap-sprockets";
@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: url('/assets/sandpaper.png');
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

.navbar.navbar-inverse {
  background:url('/assets/stressed_linen.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #DE5223;
  font-family: 'barrioregular', sans-serif;
  font-size: 50px;
  margin-top: 25px;
}

.nav.navbar-nav.navbar-right {
  font-size: 25px;
  padding: 10px;
  margin-right: 50px;
}

.nav.navbar-nav.navbar-right a {
  color: white;
  text-decoration: none;
}

.nav.navbar-nav.navbar-right a:hover {
  color: pink;
}

.field_with_errors {
  color: #ff3333;
  background-color: #ffEEEE;
  border-radius: 3px;
  padding: 8px;
}

#map {
  height: 300px;
}















